[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Virendra Mishra (vmish4)
[access "refs/for/refs/*"]
	read = group user/Virendra Mishra (vmish4)
	push = group user/Virendra Mishra (vmish4)
	label-Code-Review = -2..+2 group user/Virendra Mishra (vmish4)
	label-Verified = -1..+1 group user/Virendra Mishra (vmish4)
	rebase = group user/Virendra Mishra (vmish4)
	removeReviewer = group user/Virendra Mishra (vmish4)
	submit = group user/Virendra Mishra (vmish4)
[access "refs/heads/*"]
	read = group user/Virendra Mishra (vmish4)
	create = group user/Virendra Mishra (vmish4)
	push = +force group user/Virendra Mishra (vmish4)
	pushMerge = group user/Virendra Mishra (vmish4)
[access "refs/tags/*"]
	push = +force group user/Virendra Mishra (vmish4)
	pushTag = group user/Virendra Mishra (vmish4)
	pushSignedTag = group user/Virendra Mishra (vmish4)
